<footer>
    <div class="f-info" style="margin-top:15px">
        <div class="f-socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sarath-kumar-kandreddy-076737347/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="f-brand">&copy;Wanderlust private limited</div>
        <div class="f-infolinks">
            <a href="#">privacy</a>
            <a href="#">terms</a>
            <a href="#">contact</a>
        </div>
    </div>
</footer>